.module-tr {
    background-color: #dc0a2d; /* Rojo Pokedex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter 0.2s;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
}
.module-tr:hover { filter: brightness(1.1); }

.pokedex-icon {
    width: 4cqw; height: 4cqw;
    background-color: #28aaff; /* Lente Azul */
    border: 3px solid #fff;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px rgba(40, 170, 255, 0.6);
    margin-bottom: 0.5cqw;
}

.lens-reflection {
    position: absolute; top: 15%; left: 20%;
    width: 30%; height: 30%;
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
}

.pokedex-label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; color: rgba(0,0,0,0.4);
    font-size: 1.2cqw; letter-spacing: 0.1em;
}