/* Dentro de static/css/index.css */

body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 12px; /* Hace las tarjetas un poco más redondas */
}

.mi-tabla-header th {
    /* Este es el color azul de tu barra de navegación: #0d6efd.  */
  background-color: #0d6efd;
  color: white;
}

/* Puedes añadir lo que quieras... */