.module-tr {
    background-color: #dc0a2d; /* Rojo Pokedex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter 0.2s;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
}
.module-tr:hover { filter: brightness(1.1); }

.pokedex-icon {
    width: 4cqw; height: 4cqw;
    background-color: #28aaff; /* Lente Azul */
    border: 3px solid #fff;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px rgba(40, 170, 255, 0.6);
    margin-bottom: 0.5cqw;
}

.lens-reflection {
    position: absolute; top: 15%; left: 20%;
    width: 30%; height: 30%;
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
}

.pokedex-label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; color: rgba(0,0,0,0.4);
    font-size: 1.2cqw; letter-spacing: 0.1em;
}


.module-tr {
    background-color: #dc0a2d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter 0.2s;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
}
.module-tr:hover { filter: brightness(1.1); }

.pokedex-icon {
    width: 4cqw; height: 4cqw;
    background-color: #28aaff;
    border: 3px solid #fff;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px rgba(40, 170, 255, 0.6);
    margin-bottom: 0.5cqw;
}

.lens-reflection {
    position: absolute; top: 15%; left: 20%;
    width: 30%; height: 30%;
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
}

.pokedex-label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; color: rgba(0,0,0,0.4);
    font-size: 1.2cqw; letter-spacing: 0.1em;
}


.pokedex-interface {
    padding: 15px;
    background-color: #f8f9fa; /* Fondo claro */
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dex-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.dex-search {
    flex-grow: 1;
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 20px;
}

.dex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    overflow-y: auto;
    max-height: 400px; /* Ajusta esto según el tamaño de tu modal */
    padding-right: 5px;
}

.dex-card {
    background: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
}

.dex-card:hover { transform: scale(1.05); }

.dex-card img { width: 70px; height: 70px; object-fit: contain; }

.dex-card.captured {
    background-color: #d1e7dd;
    border: 2px solid #198754;
}

/* Checkbox pequeño para capturar */
.capture-btn {
    position: absolute;
    top: 5px; right: 5px;
    width: 15px; height: 15px;
    cursor: pointer;
}