/* Añadir clases de la plantilla para el panel derecho */
.Nombre.Pokemon {
    /* Estilos para el título del pokemon (por ejemplo, un rectángulo rojo) */
    background-color: #DC143C; /* Rojo */
    border: 1px solid #b20e2c;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-pokemon {
    background-color: #FFA500; /* Naranja */
    border: 1px solid #cc8400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    height: 100%;
}

.text-estadistica {
    background-color: #DC143C; /* Rojo */
    border: 1px solid #b20e2c;
    padding: 10px;
    color: white;
    text-align: left; /* Alineación para estadísticas */
    font-size: 0.9em;
}

.text-descripcion {
    /* Estilos para la descripción del pokemon (por ejemplo, otro rectángulo rojo) */
    background-color: #DC143C; /* Rojo */
    border: 1px solid #b20e2c;
    padding: 10px;
    color: white;
    text-align: left;
    overflow-y: auto; /* Por si la descripción es muy larga */
}

/* Estilo para los slots vacíos */
.pokemon-btn.disabled {
    background-color: #A9A9A9; /* Gris oscuro para deshabilitado */
    cursor: default;
}