/* static/css/navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #333; /* Color de fondo oscuro */
    color: white;
    padding: 10px 20px;
    height: 60px; /* Altura fija para el navbar */
    overflow: auto; /* Esto ayuda a limpiar el 'float' */
}


.btn-salir {

    text-decoration: none;
    color: white;
    background-color: #d9534f; /* Color rojo para salir */
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-salir:hover {
    background-color: #c9302c;
}

main {
    padding-top: 60px; /* IMPORTANTE: Deja espacio para el navbar fijo */
}