* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* --- CAPA 0: El Contenedor 16:9 --- */
#main-container {
    background-color: var(--color-bg);
    container-type: inline-size;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: calc(100vh * (16 / 9));
    max-height: 100vh;
    border-radius: var(--radius-outer);
    padding: var(--gap-size);
    
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
}
/* --- ESTRUCTURA INTERNA --- */

/* Fila Superior (20% altura) */
.row-top {
    flex: 20; /* Peso 20 */
    width: 100%;
    display: flex;
    gap: var(--gap-size);
    min-height: 0; /* Importante para que el flex no desborde */
}

.row-bottom {
    flex: 80; /* Peso 80 */
    width: 100%;
    display: flex;
    gap: var(--gap-size);
    min-height: 0; 
}

/* --- WRAPPERS DE LOS MÓDULOS --- */
/* Usamos porcentajes explícitos para el ancho */

#wrapper-tl { width: 90%; }
#wrapper-tr { width: 10%; } /* Ahora es pequeño, para el botón Pokedex */

#wrapper-bl { width: 50%; }
#wrapper-br { width: 50%; }

.module-box {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-inner);
    overflow: hidden;
    position: relative;
}