{% extends '_base.html' %}

{% block title %}Consultar Equipos{% endblock %}

{% block content %}
<div class="main-container">

    <div class="top-row">
        <div class="titulo">CONSULTAR EQUIPO</div>

        <button class="btn-primary btn-delete">ELIMINAR EQUIPO</button>
    </div>

    <div class="interface-grid">

        <div class="panel izquierda">
            <button class="btn-secondary">Pokemon 1</button>
            <button class="btn-secondary">Pokemon 2</button>
            <button class="btn-secondary">Pokemon 3</button>
            <button class="btn-secondary">Pokemon 4</button>
            <button class="btn-secondary">Pokemon 5</button>
            <button class="btn-secondary">Pokemon 6</button>
        </div>

        <div class="panel panel-blue panel-right">

            <div class="Nombre Pokemon">Nombre Pokemon</div>

            <div class="content-row">
                <div class="image-pokemon">Imagen Pokemon</div>

                <div class="text-estadistica">Estadísticas</div>
            </div>

            <div class="text-descripcion">Descripción pokemon</div>
        </div>

    </div>

  <a href="{{ url_for('editar_equipo') }}" class="btn-primary btn-edit-bottom">EDITAR EQUIPO</a>

</div>
{% endblock %}