{% extends '_base.html' %}

{% block title %}Inicio - App Pokémon{% endblock %}

{% block content %}
    <div class="welcome-container">

        <header class="welcome-header">
            <h1>Bienvenido/a</h1>
        </header>

        <div class="welcome-actions">

            <a href="{{ url_for('registro') }}" class="btn btn-primary btn-full">
                Registrarse
            </a>

            <a href="{{ url_for('iniciar_sesion') }}" class="btn btn-secondary btn-full">
                Iniciar Sesión
            </a>

        </div>
    </div>
{% endblock %}