<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pokedex{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>

    <nav class="navbar navbar-dark bg-primary mb-4">
        <div class="container-fluid">

            <a class="navbar-brand" href="{{ url_for('home') }}">Pokedex</a>

            <div class="d-flex ms-auto">

                {% if session['user_id'] %}

                    <a class="btn btn-outline-light btn-sm me-2" href="{{ url_for('dashboard') }}">Panel</a>
                    <a class="btn btn-light btn-sm" href="{{ url_for('logout') }}">Cerrar Sesión</a>

                {% else %}

                    <a class="btn btn-light btn-sm me-2" href="{{ url_for('home') }}">Iniciar Sesión</a>

                    <a class="btn btn-outline-light btn-sm" href="{{ url_for('register') }}">Registrarse</a>

                {% endif %}
            </div>

        </div>
    </nav>
    <div class="container mt-4">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>