<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema Modular</title>
    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/shell.css">
</head>
<body>

    <main id="main-container">
        <div class="row-top">
            <div id="wrapper-tl"></div> <div id="wrapper-tr"></div>
        </div>

        <div class="row-bottom">
            <div id="wrapper-bl"></div> <div id="wrapper-br"></div>
        </div>
    </main>

    <div id="wrapper-modal" style="display: none;">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <div id="modal-body"></div>
        </div>
    </div>

    <script src="/static/js/loader.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='modules/top-right/style.css') }}">
<script src="{{ url_for('static', filename='modules/top-right/logic.js') }}"></script>
</body>
</html>